@mixin containerWidthMargin () {
    max-width: 1260px;
    margin: 0 auto;
}

@mixin generalFlex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin imageBoxShadow () {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgb(84 70 35 / 15%), 0 1px 3px rgb(84 70 35 / 15%);
}